/dot-config/**/*

###############################################################################
# i3
###############################################################################

!/dot-config/i3/
!/dot-config/i3/**/*

###############################################################################
# picom
###############################################################################

!/dot-config/picom/
!/dot-config/picom/**/*

###############################################################################
# fastfetch
###############################################################################

!/dot-config/fastfetch/
!/dot-config/fastfetch/**/*

###############################################################################
# Kitty and mocha
###############################################################################

!/dot-config/kitty
!/dot-config/kitty/**/*
!/dot-config/mocha
!/dot-config/mocha/**/*

###############################################################################
# Cargo config
###############################################################################

/dot-cargo/*
!/dot-cargo/config.toml

###############################################################################
# Neovim
###############################################################################

!/dot-config/nvim/
!/dot-config/nvim/**/*

###############################################################################
# Neovide
###############################################################################

!/dot-config/neovide/
!/dot-config/neovide/**/*

###############################################################################
# Vesktop
###############################################################################

!/dot-config/vesktop
/dot-config/vesktop/*
!/dot-config/vesktop/themes

###############################################################################
# Lazygit
###############################################################################

!/dot-config/lazygit
!/dot-config/lazygit/*

# Empty file
/dot-config/lazygit/config.yml

###############################################################################
# Programs (scripts really)
###############################################################################

!/dot-config/programs
!/dot-config/programs/*

# ignore the pyinstaller stuff
/dot-config/programs/build/

# This was already in another repo
# https://github.com/1Kill2Steal/Bernoulli-C
dot-config/programs/bernoulli.c
