/dot-config/**/*

###############################################################################
# Hyprland
###############################################################################

!/dot-config/hypr/
!/dot-config/hypr/**/*

###############################################################################
# caelestia
###############################################################################

!/dot-config/caelestia/
!/dot-config/caelestia/**/*

# Managed by caelestia
dot-config/hypr/scheme/current.conf

###############################################################################
# wofi
###############################################################################

!/dot-config/wofi/
!/dot-config/wofi/**/*

###############################################################################
# waybar
###############################################################################

!/dot-config/waybar/
!/dot-config/waybar/**/*

###############################################################################
# wlogout
###############################################################################

!/dot-config/wlogout/
!/dot-config/wlogout/**/*

###############################################################################
# swaylock
###############################################################################

!/dot-config/swaylock/
!/dot-config/swaylock/**/*

###############################################################################
# mako
###############################################################################

!/dot-config/mako/
!/dot-config/mako/**/*

###############################################################################
# fastfetch
###############################################################################

!/dot-config/fastfetch/
!/dot-config/fastfetch/**/*

###############################################################################
# Kitty and mocha
###############################################################################

!/dot-config/kitty
!/dot-config/kitty/**/*
!/dot-config/mocha
!/dot-config/mocha/**/*

###############################################################################
# Cargo config
###############################################################################

/dot-cargo/*
!/dot-cargo/config.toml

###############################################################################
# Neovim
###############################################################################

!/dot-config/nvim/
!/dot-config/nvim/**/*

###############################################################################
# Neovide
###############################################################################

!/dot-config/neovide/
!/dot-config/neovide/**/*

###############################################################################
# Vesktop
###############################################################################

!/dot-config/vesktop
/dot-config/vesktop/*
!/dot-config/vesktop/themes

###############################################################################
# Lazygit
###############################################################################

!/dot-config/lazygit
!/dot-config/lazygit/**/*

###############################################################################
# Espanso
###############################################################################

# !/dot-config/espanso
# !/dot-config/espanso/**/*

###############################################################################
# qBittorrent
###############################################################################

!/dot-config/qBittorrent/
!/dot-config/qBittorrent/themes
!/dot-config/qBittorrent/themes/custom
!/dot-config/qBittorrent/themes/custom/**/*

###############################################################################
# Programs (scripts really)
###############################################################################

!/dot-config/programs
!/dot-config/programs/**/*

# ignore the pyinstaller stuff
/dot-config/programs/build/


###############################################################################
# Custom Application Icons
###############################################################################

/dot-local/share/icons
dot-config/espanso/scripts/work/welcome/welcome_history.txt
__pycache__
