# shellcheck configuration. See https://github.com/koalaman/shellcheck/blob/master/shellcheckrc

# All executed scripts in this repo use `#!/usr/bin/env bash` for portability.
# Source-only dotfiles under dot-profile.d/ may be POSIX with no shebang.
shell=bash

# Allow source paths in $HOME; we have lots of dot-config/ symlinks.
external-sources=true

# These are checked elsewhere or are intentional.
#   SC1090, SC1091: source paths we can't resolve in CI
disable=SC1090,SC1091
